[2015-09-03 03:00] ccordoba12 opened #1 "Please change the name of this plugin"
This should be named `line_profiler`, not `profiler`, to avoid confusions and collusions with our current `profiler` plugin.

@goanpeca, I hope you haven't created the PyPi package yet.

[2015-09-03 03:01] goanpeca commented on #1
Dont worry.. even if it was created you can change the names and erase them (from pypi)....

I should not clash because of the namespacing, but line profiler was getting too long....

[2015-09-03 03:02] ccordoba12 commented on #1
But I really prefer it because we already have a `profiler` plugin, as I said.

Besides, `line_profiler` is well known in several circles, so please change it.

[2015-09-03 03:04] goanpeca commented on #1
I did not imply I was not going to change it :-) :+1:

[2015-09-03 03:05] ccordoba12 commented on #1
Ok, sorry for the confusion :-)

El 02/09/15 a las 22:04, Gonzalo Peña-Castellanos escribió:

[2015-09-03 03:06] goanpeca commented on #1
hmmmmm ok... so some othe roptions

@ccordoba12
`spyplugins.ui.lineprofiler`
`spyplugins.ui.lprofiler`
`spyplugins.ui.line_profiler`  <- looks ugly :-(

[2015-09-03 03:08] ccordoba12 commented on #1
Please leave it as line_profiler. I know it's not that good, but we
already have things like jupyter_core in the community, so I don't see a
problem with that name.

El 02/09/15 a las 22:06, Gonzalo Peña-Castellanos escribió:

[2015-09-03 03:09] goanpeca commented on #1
:+1: (but it looks ugly!)

[2015-09-03 03:10] ccordoba12 commented on #1
I know, but at least is clear enough :-)

El 02/09/15 a las 22:09, Gonzalo Peña-Castellanos escribió:

[2015-09-03 04:10] goanpeca opened #2 "Split memory and line profiler into separate plugins?"
Hi @Nodd do you think it makes sense to split this plugin into two?

Otherwise I can adjust the code to allow for instance doing this.

[code]

Let me know what you think :-)

[2015-09-03 12:37] ccordoba12 commented on #1
Thanks for the change.

[2015-09-03 12:37] #1 closed

[2015-09-03 12:39] ccordoba12 commented on #1
By the way, do plugins **need** to be named

[code]

instead of just

[code]

?

I mean, at the end, `ui` (or `io`) is part of the plugin structure, isn't it?

[2015-09-03 13:00] goanpeca commented on #1
I guess we could... ;-)  @Nodd ?

[2015-09-07 09:41] Nodd commented on #1
I don't know what has been decided in the last two months ! :smile:
I just think that if some plugins have io or ui prefix, then all of them should have it.
(also, too late but indeed line_profiler is better. That's the name of the tool)

[2015-09-07 09:43] Nodd commented on #2
It should be split. I wasn't sure at first, then I received a contribution to implement it and I merged it. But even if they work similarly, they are different tool that test completely different things and are displayed in a diferent panel.
Also the code for the memory profiler should be refactored, right now the data structure is reorganised twice, one th put it in the same shape as line_profile

[2015-09-07 12:56] ccordoba12 commented on #2
+1 to split them from me too.

[2015-09-07 17:15] goanpeca commented on #2
Ok I will make the split :-)

[2015-09-07 19:26] goanpeca commented on #1
The last meeting we had with @blink1073 and @ccordoba12 we thought that to have some order on the plugins... at least the ones that are somehow maintained by the "Spyder development team" and in the spirit of having a shorter name to have:

instead of  `spyplugins.ui.line_profiler`, just `spyder.line_profiler`.

It is worth noting that this would be the name of the package (for conda/pip installat

[2015-09-10 08:05] Nodd commented on #1
So if I understand correctly, the name of the package itself is different from the directory structure inside the package ? I agree that it makes sense, `spyplugins.ui.*` is ugly for a name.

[2015-09-10 12:34] goanpeca commented on #1
Great then it is settled :-) :+1: with your blessings

[2015-09-12 19:16] goanpeca commented on #1
@ccordoba12 @blink1073 @Nodd @SylvainCorlay

Just to double check, the idea is to have packages name like

`spyder.line-profiler`
`spyder.memory-profiler`

or

`spyder.line_profiler`
`spyder.memory_profiler`

I know that the original package is `line_profiler`, but the `-` looks better. I forgot what was the final decision... :s

so that installation could be

`pip install spyder.line-profiler`
or

[2015-09-13 00:33] blink1073 commented on #1
It's called `line_profiler` on PyPI, I'd say stick with that.

[2015-09-13 00:33] blink1073 commented on #1
https://pypi.python.org/pypi/line_profiler/

[2015-09-13 00:35] goanpeca commented on #1
Ok :+1:

[2015-09-13 00:36] #2 closed

[2015-09-13 00:44] ccordoba12 commented on #1
Yep, +1 from me too to what @blink1073 suggested :-)

[2015-09-28 14:51] mettinger opened #3 "pip install problem"
Hope this issue is easily fixable as I'd love to get this working in Spyder!

The command:

pip install spyder.line_profiler

results in the error:

Collecting spyder.line-profiler
  Could not find a version that satisfies the requirement spyder.line-profiler (from versions: )
No matching distribution found for spyder.line-profiler

[2015-09-28 15:29] ccordoba12 commented on #3
This is not ready for the public. We're still creating the infrastructure to make this possible, so please be patient :-)

This could be ready in two or three weeks.

[2015-09-28 16:10] goanpeca commented on #3
@mettinger these plugins will be released with Spyder 3.0, I will add this in the readme.

Sorry for the inconvenience!

[2015-09-28 18:51] mettinger commented on #3
Thank you for your work on this!  This will be a great addition to Spyder.

[2015-12-15 02:50] darcyWang commented on #3
It's ok to sudo pip install pyspider ?

I still got Could not find a version that satisfies the requirement pyspider (from versions: )
No matching distribution found for pyspider

[2015-12-15 12:12] ccordoba12 commented on #3
There's still not a package available in PyPI (as far as I know). @goanpeca, could you please upload it?

Please be aware that you need at least Spyder 3.0 beta2 to run this plugin :-) I won't run in Spyder 2.3.x.

[2016-05-03 14:16] Nodd opened #4 "Loads, but crashes when run"
The plugin now loads fine in spyder v3.0, but if a profiling is started it crashes spyder with `Unhandled Python exception`.

[2016-05-03 14:53] Nodd opened #5 "Find correct python install"
Right now the first executable on the path is taken, while it should probably be smarter by using the python version configured in spyder.

Initially reported in https://github.com/Nodd/spyder_line_profiler/issues/28

[2016-05-03 14:58] Nodd opened #6 "Add translation"
from https://github.com/Nodd/spyder_line_profiler/issues/17

[2016-05-03 14:58] Nodd opened #7 "Add line_profiler to the optional requirements list"
from https://github.com/Nodd/spyder_line_profiler/issues/20

[2016-05-03 15:00] Nodd opened #8 "Expand output by default if only one function is profiled"
from https://github.com/Nodd/spyder_line_profiler/issues/23

[2016-05-13 21:22] ccordoba12 commented on #8
@Nodd, quick question: any time frame or milestone for when you plan to fix these and the other issues you opened?

[2016-05-18 09:27] Nodd commented on #8
I'm sorry I can't give you a time frame, I just have to find the time someday... I'll at least wait for the new plugin loading mode (either doing it myself or waiting for @goanpeca to do it) to do many things in one go.

[2016-06-08 09:32] Nodd commented on #4
The following error is raised:

[code]

I suppose it needs to be updated for Qt5

[2016-06-09 21:37] Nodd commented on #4
Note: it's fixed in my repo, I'll merge when the new plugin structure in spyder is merged.

[2016-06-09 21:39] Nodd commented on #7
It's already in the requirements.

[2016-06-09 21:39] #7 closed

[2016-06-09 21:46] #8 closed

[2016-06-09 21:48] Nodd commented on #3
The plugin infrastructure will change again (for the better!). I think we'll upload plugin packages when the change is merged in master.

[2016-06-09 21:48] #3 closed

[2016-11-08 18:19] codemeleon opened #10 "Unable to Install using pip"
Hi,
I am trying to install the plugin using pip. However, I am getting following error.

pip install spyder.line_profiler
Collecting spyder.line_profiler
  **Could not find a version that satisfies the requirement spyder.line_profiler (from versions: )
No matching distribution found for spyder.line_profiler**

Thank you.

[2016-11-15 15:24] Nodd commented on #10
Try the development version:
pip install git+git://github.com/spyder-ide/spyder-line-profiler.git
The pypi version is not up to date, I have to find some time to do it...

[2017-02-05 21:01] jitseniesen commented on #4
Fixed in 1e0cf584a

[2017-02-05 21:01] #4 closed

[2017-02-05 21:09] jitseniesen opened #11 "Add a test"

[2017-02-05 21:13] jitseniesen opened #12 "Update to Spyder v4"
Currently, get an error about SpyderPluginMixin; see spyder-ide/spyder-unittest#42

[2017-02-05 21:15] jitseniesen opened #13 "Prepare for distribution"
- [ ] Update README: Spyder 3.x has been released
- [ ] Update README: Plugin can't be installed with pip
- [x] Add manifest to distribute tests, readme and license
- [ ] Consistent naming: no dot in name
- [ ] Consistent names in copyright notice and license
- [ ] Check setup.py

[2017-02-05 21:15] jitseniesen opened #14 "Enable automatic testing / CI"

[2017-02-05 21:16] jitseniesen opened #15 "Make conda package"

[2017-02-18 21:56] #11 closed

[2017-02-18 21:57] jitseniesen commented on #14
Fixed by PR #16

[2017-02-18 21:57] #14 closed

[2017-03-05 21:14] #12 closed

[2017-03-18 21:32] #13 closed

[2017-03-20 22:40] jitseniesen commented on #10
@goanpeca Can you please look whether you have reserved the name `spyder.line_profiler` (with a dot) on PyPI? I tried to upload `spyder-line-profiler` (with a dash) but it complains that
[code]
However, I cannot find anything about this existing package `spyder.line_profiler`

[2017-03-21 01:24] goanpeca commented on #10
@jitseniesen yes I had it reserved, just deleted the project, could you try again?

[2017-03-21 08:50] jitseniesen commented on #10
Thanks, that did the trick!

[2017-03-27 13:12] jitseniesen commented on #10
Package landed in PyPI: https://pypi.python.org/pypi/spyder-line-profiler

[2017-03-27 13:12] #10 closed

[2017-03-27 14:08] jitseniesen commented on #15
@ccordoba12 @goanpeca I could use some help here. The issue is that the conda package needs a test: https://github.com/conda-forge/staged-recipes/pull/2674#issuecomment-289444573 . The simplest test is `import spyder_line_profiler`. However, the plugin imports `spyder.plugins.runconfig` and that import requires running `qtawesome` in [spyder/plugins/runconfig.py:457](https://github.com/spyder-ide/

[2017-03-28 12:35] jitseniesen commented on #15
I think I found a solution: use `imp.find_module()` to find an importable module without actually importing it.

I still think that importing `spyder.plugin.runconfig` (and other Spyder modules) does too much work, but I'm not sure how much of a problem that actually is.

[2017-03-28 14:30] ccordoba12 commented on #15
My thoughts about your options:

1. This is a good, temporary solution for Spyder 3
2. This is the right solution for Spyder 4.

However, I don't know how easy it could be for you to maintain compatibility with both versions. So I think for now option 1. should be the way to go.

[2017-03-28 14:54] goanpeca commented on #15
Agreed!, but yeah for now that should do

[2017-12-06 22:55] ccordoba12 opened #25 "Text box for file to be profiled accept directories"
@Neotric commented on [Wed Dec 06 2017](https://github.com/spyder-ide/spyder/issues/5905)

## Description

**What steps will reproduce the problem?**

1. install sw with sudo -H pip install spyder-line-profiler
2. profile by line program in spyder:

[code]

**What is the expected output? What do you see instead?**

No reaktion, but error.

**Please provide any additional information below**

  Fil

[2017-12-06 22:57] ccordoba12 commented on #25
@jitseniesen, does our line-profiler work with the latest Spyder version?

[2017-12-07 13:01] jitseniesen commented on #25
Yes, the line-profiler plugin does work with the latest Spyder version (3.2.4). However, the error looks familiar; I think I saw it before.

@Neotric Your information is not enough for me to reproduce easily. Can you reproduce it yourself on your system?

The error has something to do with paths. Could you please tell me the full paths of the Python file, and also the contents of the text field to

[2017-12-07 14:13] Neotric commented on #25
Yesterday, I downloaded anaconda (https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86.sh) and installed it. From anaconda I started Spyder. I was following an article in the 2017 nov. issue of Linux Journal.
It shows you to run the profiler and a 'better' profiler: spyder-line-profiler. Instruction to install that one does nor work:
$ conda install -c spyder-ide spyder-line-profiler
The pa

[2017-12-07 16:10] jitseniesen commented on #25
Glad to hear that it now works for you.

It is possible to get that error if you set the text field with the file to be profiled to a directory instead of a Python file. This needs to be fixed.

[2017-12-07 16:19] #15 closed

[2017-12-09 11:21] Neotric commented on #25
@jitseniesen, It ran OK when I did: Shift-F10, or started it from the menu. But when I hit the button "Profile by line" I got the error. Unfortunately, I can not unselect the file and select the folder. But after selecting the file (hit the folder icon near the 'Profile by line' button, it ran OK. But there remains a text "Profiling, please wait..." That only disappears after I click in the textbo

[2017-12-09 16:04] jitseniesen opened #26 "Update plugin to Spyder v4"
Currently the plugin fails in Spyder v4 with:
[code]

[2017-12-09 16:20] jitseniesen commented on #25
Actually, I just tried again (on a different computer) and now I also can't select the folder. I don't know what I did. But I can confirm what you say. To reproduce:
1. Open a file
2. Click `Profile line by line` in the `Run` menu; this works fine.
3. Click `Profile by line` in the Line profiler dock window; the error results.

The `profile` decorator is defined in the line profiler but not in the

[2017-12-29 13:58] Landau1908 commented on #26
I meet the error, too.

[2018-05-27 18:18] tmabraham opened #27 "saving profiling results"
Unless I am missing the feature or not using the plugin correctly, there is no way to save the profiling results. Could this feature be added?

[2018-05-27 18:43] CAM-Gerlach commented on #27
![image](https://user-images.githubusercontent.com/17051931/40589503-e4e7df7c-61b3-11e8-8b9b-0712acb4469b.png)

[2018-05-27 18:59] tmabraham commented on #27
@CAM-Gerlach I think there is a misunderstanding here. If I understand correctly, that is for the regular built-in spyder profiler. I am talking about the line-profiler.

[2018-05-27 19:03] CAM-Gerlach commented on #27
Oh, sorry—my silly mistake.

[2018-05-27 19:17] CAM-Gerlach commented on #27
Just FYI, it may be a bit for it to be added, since right now plugin development is paused to concentrate resources on the Spyder 4 release in six months or so. However, you're welcome to submit a PR adding it, and we'd be glad to review it.

[2018-07-17 16:17] ianbstewart opened #28 "Profiler changes working directory"
I am trying to profile a Python file in a subdirectory, root/A/B/test.py. The script has to be run from the root directory in order for the imports to work. When I try to run the profiler in Spyder, I get an import error because the profiler has changed to working directory to root/A/B when it should still be root/. How can I prevent the profiler from changing the working directory?

[2018-07-17 16:25] CAM-Gerlach commented on #28
Just to confirm, you are using the ``spyder-line-profiler`` plugin and not the built-in Spyder profiler (which is already well known to have this issue; see spyder-ide/spyder#1110 , and I'll hopefully get to solving it in Spyder 4)? Active maintenance on this plugin (and most others) is currently paused to focus on the Spyder 4 release, and should be resumed in early 2019, although if you'd like t

[2018-07-17 22:50] Nodd commented on #28
spyder-line-profiler is an adaptation of the built-in Spyder profiler, so the bug has been ported too. If one is fixed, the other one should be easy to port.

[2018-07-18 07:50] ianbstewart commented on #28
@CAM-Gerlach yes, I am using the spyder-line-profiler. To be honest this seems like a pretty big issue to postpone, because I imagine that many developers have similarly complicated code (relative imports, etc.) that they want to profile. I don't have time to fix it now but if I find a workaround in the future I will let you know.

[2018-07-18 09:27] CAM-Gerlach commented on #28
Ah, thanks for the insight from an old hand here, @Nodd . I'm the new guy, in case you couldn't tell, heh

At least as originally conceived, the work currently planned to address spyder-ide/spyder#1110 primarily relates to integrating the profiler with the Run Settings GUI, or creating some sort of dedicated GUI for it, rather than fixing a "bug" that is really more a deliberate, if rather bafflin

[2018-09-12 23:56] adodell opened #29 "Python 3.7 build for Spyder Line Profiler?"
I am curious if there will eventually be a Python 3.7 build for this package? I use the Line Profiler often, and want to upgrade to Python 3.7, but this is one of the key packages holding me back from doing so.

I've attached an image below showing the builds that exist for this project

![capture](https://user-images.githubusercontent.com/11433737/45459351-bc06ea00-b6ac-11e8-8341-3cacb1de3835.PNG

[2018-09-13 00:16] ccordoba12 commented on #29
@jitseniesen, we should make the package `noarch` to avoid this problem in the future.

[2018-09-13 14:00] jitseniesen commented on #29
@adodell Can you please try again? There should now be a package which is not tied to the particular Python version.

[2018-09-13 15:53] aarondodell commented on #29
thank you both @jitseniesen and @ccordoba12 for the quick responses. Yes the Line Profiler is working perfectly now in Spyder with my Python 3.7 install.

you may want to do something similar for the Spyder-Notebook plugin, or all other plugins too. I notice that when I upgraded to Python 3.7 my Notebook plugin was removed. This is okay since I rarely use the Notebook plugin, but I know many other

[2018-09-13 15:58] ccordoba12 commented on #29
Well, that's good to know!! We thought very few people were using it because it's a bit alpha and we haven't received too much bug reports about it.

But sure, we'll make it `noarch` too so it can work with any Python version.

You're welcome.

[2018-09-13 15:58] #29 closed

[2018-09-22 19:01] cdfredrick commented on #28
It is not the working directory that truly matters for imports but [sys.path](https://docs.python.org/3/library/sys.html#sys.path). Python only searches the directories in its sys.path variable for modules, so if the current directory is not in the path then imports from the current directory are not going to work. On initialization Python only prepends a generalized "current directory" (represent

[2018-09-23 03:16] ccordoba12 commented on #28
@cdfredrick, would you say this can be closed, per your advice?

[2018-09-25 03:50] cdfredrick commented on #28
Yes, for setting import locations without having to change or add absolute paths to one's code, I think the PYTHONPATH manager is the way to go. The manager is already integrated into spyder-line-profiler when using the shortcut "Shift+f10" or when selecting "Profile line by line" from the run menu, and with #30 that behavior is also brought to the profiler when it is started from the widget.

For

[2018-09-25 21:50] ccordoba12 commented on #28
Thanks @cdfredrick! Closing then.

[2018-09-25 21:50] #28 closed

[2018-10-26 13:15] jitseniesen opened #32 "Factor out common elements of profiler plugins"
There are three profiler plugins, the Profiler included in Spyder proper, the Line Profiler in this plugin, and the Memory Profiler in spyder-memory-profiler. We should consider whether common elements can be factored out into base classes.

[2019-01-15 09:25] skjerns opened #33 "Sorting by time / % not working correctly"
First of all: This plugin is very useful, I'm using it a lot, thanks!

I discovered, that the sorting of results is not always working correctly. Do you know why this is the case? Or am I misinterpreting the display?

Sorting by `%`, I expect line 139 to be on top
![capture](https://user-images.githubusercontent.com/14980558/51170858-bf56f000-18af-11e9-95a4-2730a4f845cd.PNG)

Sorting by `Time`, I

[2019-01-15 14:41] ccordoba12 commented on #33
This project is unmaintained right now, so a pull request to fix this problem is welcome.

[2019-01-16 08:41] skjerns commented on #33
I've made a PR, problem seemed to be that items were inserted as strings, but sorting was on character level. I've implemented some natural sort in #34

[2019-05-01 02:00] jcox-nd commented on #26
Did PluginConfigPage simply get renamed or relocated in Spyder 4.0? By doing a search of spyder origin/master, I find:
from spyder.api.preferences import PluginConfigPage

So what happens if you just change all references from:
'from spyder.plugins.configdialog import PluginConfigPage' -> from spyder.api.preferences import PluginConfigPage

Does it work?

[2019-05-01 09:53] ccordoba12 commented on #26
@jcox-nd, that's almost the right fix. You need to do something like this:

[code]

to make the plugin compatible with both Spyder 3 and 4.

Please make a PR with that fix so we can release a be version.

[2019-07-02 16:06] grlee77 opened #35 "Opening editor from line profiler output is broken"
Double-clicking on a line in the Line Profiler output should open that file at the selected line in the editor. Instead, this currently gives an `AttributeError` at  spyder_line_profiler/widgets/lineprofiler.py" line 553:
[code]

I encountered this while using `spyder` 3.3.5 when and `spyder-line-profiler` 0.1.1 from conda-forge.

[2019-09-23 10:25] #26 closed

[2019-12-13 11:43] skjerns opened #37 "Compatibility with Spyder 4.0"
This package doesn't seem to be compatible with Spyder 4.0.0b.

The tab just doesn't show up.

Not sure if I'm the only one still using this library, but I consider it pretty useful.

Is there any way to easily embed it into Spyder 4?

[2019-12-15 23:27] endolith commented on #37
I would love to be able to do line profiling from within Spyder!

[2019-12-16 00:11] jitseniesen commented on #37
The development version does work with Spyder 4 (as far as I know). I am hoping to do an official release this week.

[2019-12-17 18:39] #33 closed

[2019-12-18 13:58] jitseniesen commented on #37
Version 0.2.0 of the plugin, which was just released, works with Spyder 4.

[2019-12-18 13:58] #37 closed

[2020-01-08 05:17] endolith opened #39 "Crash from opening options"
## Description

### What steps will reproduce the problem?

I tried to open Options and it crashed

I don't know what else to say

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-08 21:50] ccordoba12 commented on #39
I don't understand how this could appear unless you edited our config file directly.

Could you share your configuration file with us to try to reproduce this? It's normally placed in

    C:\Users\<your user>\.spyder-py3\config\spyder.ini

[2020-01-09 05:30] endolith commented on #39
https://gist.github.com/endolith/0096a263e62e3b037dcf405fbed04bc5

[2020-01-09 15:22] ccordoba12 commented on #39
Thanks a lot @endolith!

@dalthviz, please take a look at this one.

[2020-01-09 15:23] ccordoba12 commented on #39
@dalthviz, you need to replace your config file with @endolith's one and try to open our Preferences to generate the error.

[2020-01-09 17:44] dalthviz commented on #39
@ccordoba12 I'm able to open the preferences dialog. The only thing I'm seeing is a warning about a font that could not be found: `Warning: None of the following fonts is installed: ['DejaVu Sans']`

[2020-01-10 02:46] ccordoba12 commented on #39
@endolith, please close Spyder, open this file in another text editor

    C:\Anaconda3\lib\site-packages\spyder\preferences\configdialog.py

add in line `326` this statement

    print(self.get_option(option, default, section=sec))

then start Spyder, open our Preferences and finally go to the menu

    View > Panes > Internal console

and paste the contents shown there here.

[2020-01-12 16:17] endolith commented on #39
I have no such file. I have

C:\Anaconda3\pkgs\spyder-4.0.1-py37_0\Lib\site-packages\spyder\preferences\configdialog.py
C:\Anaconda3\pkgs\spyder-4.0.0-py37_0\Lib\site-packages\spyder\preferences\configdialog.py
C:\Anaconda3\envs\tf_gpu\Lib\site-packages\spyder\preferences\configdialog.py
C:\Anaconda3\pkgs\spyder-4.0.0rc1-py37_0\Lib\site-packages\spyder\preferences\configdialog.py
C:\Anaconda3\pkgs

[2020-01-13 00:48] ccordoba12 commented on #39
That file should exist because that's what your error shows.

I'm going to close this one for now because we can't reproduce it and you can't help us to solve it. Please keep posting on this issue if you find more info.

[2020-01-13 00:50] endolith commented on #39
o_O

It's reproducible every time I press Tools → Preferences

[2020-01-13 00:59] endolith commented on #39
Ok the file is there now, but your command doesn't seem to work:

[code]

[2020-01-13 01:02] endolith commented on #39
I moved it down one line:

[code]

[code]

[2020-01-13 14:28] dalthviz commented on #39
@endolith could you give us the list of packages that you have installed? please use `conda list` and `pip list` maybe you have multiple versions of Spyder installed at the same time? (one with `conda` and one with `pip`) Thanks :)

[2020-01-13 14:44] dalthviz commented on #39
Another thing you could try @endolith is to reset your preferences going to `Tools > Reset Spyder to factory defaults` (although this will remove all the preferences that you have changed in the past)

[2020-01-13 15:08] dalthviz commented on #39
Also @endolith in order to get the name of the option that is causing this, could you please add a print line above the one you already have printing the variable `option`? Something like `print(option)`

[2020-01-13 16:10] ccordoba12 commented on #39
This is a good suggestion @dalthviz but it won't allow us to solve this problem.

@endolith, please follow this @dalthviz advice instead:

[2020-01-14 02:16] endolith commented on #39
<details>
[code]
</details>

[2020-01-14 02:18] endolith commented on #39
<details>
[code]

~/.condarc is:

[code]
</details>

in case that screwed something up

[2020-01-14 15:33] ccordoba12 commented on #39
Ok, it seems the problem is caused by the `use_colors` option, defined in the spyder-line-profiler plugin:

https://github.com/spyder-ide/spyder-line-profiler/blob/b5f58942a965fe976c8adb182fed7d2322de9534/spyder_line_profiler/lineprofiler.py#L37-L39

@endolith, you would have saved us a lot of time if you had mentioned before that you are using that plugin. For next time, please mention all extern

[2020-01-14 15:37] dalthviz commented on #39
@ccordoba12 @endolith just to have some steps, I was able to reproduce this by installing the `spyder-line-profile` plugin, changing the `use_colors` option (`profiler > Use deterministic colors to differentiate functions`) and restarting Spyder.

[2020-01-14 15:44] ccordoba12 commented on #39
Thanks for testing @dalthviz! I'm moving this issue to our line-profiler plugin because it needs to be solved there.

[2020-01-14 15:53] jitseniesen commented on #39
Would it be an idea to add some functionality so that the user can see which plugins and what versions are installed? Ideally, this information can be added to the automatic bug report. Perhaps we can just add plugins to the list of dependencies?

[2020-01-14 16:33] ccordoba12 commented on #39
That's a very good idea! Do you have time to implement it? Or should I ask @dalthviz to do it?

[2020-01-14 16:33] endolith commented on #39
Shouldn't that sort of thing be automatically included in the bug report?

I don't recall changing this option, by the way, so it might be a default?

[2020-01-15 09:52] jitseniesen commented on #39
I will give it a go after I solved this issue. I'll create a new issue in Spyder so that I don't forget.

[2020-01-16 12:45] #39 closed

[2020-02-23 22:36] goanpeca opened #41 "Move CI to github actions"

[2020-03-10 20:20] nackerley opened #42 ""Profile by line" button doesn't work on Profiler tab"
## Description

### What steps will reproduce the problem?

Just click on the "Profile by line" button and the "Issue Reporter" dialog comes up. This doesn't happen in the Run ... Profile line-by-line menu.

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.3
* Qt version: 5.14.0
* PyQt5 version: 5.14.1
* Operating System: Linux 3.10.0-1062.12.1.el7.x86_64

### Depen

[2020-03-11 10:24] jitseniesen commented on #42
Hi Nick, thanks for your report. I think this was fixed by PR #30 which is part of spyder-line-profiler version 0.2.0, so I suggest you upgrade by running
[code]
This will also upgrade spyder to version 4.

If this does not fix the issue, please let us know and we will investigate further.

[2020-03-11 10:24] #42 closed

[2020-04-10 12:56] jitseniesen opened #44 "TextEditor initializer receives unexpected argument size"

[2020-04-12 11:05] #41 closed

[2020-04-14 07:41] #44 closed

[2020-04-18 09:48] #35 closed

[2020-04-29 07:56] jitseniesen opened #48 "Correctly register shortcuts"
Check whether we follow the procedure in https://github.com/spyder-ide/spyder/wiki/External-Plugins-Shortcut-definition-4.x . If not, fix this and propagate to other plugins.

[2020-05-11 14:13] goanpeca opened #49 "Opening settings: Spyder internal error with vanilla installation"
@skjerns commented on [Mon May 11 2020](https://github.com/spyder-ide/spyder/issues/12692)

## Description

### What steps will reproduce the problem?

I reset Spyder using `--reset` (resp. delete the .spyder3 folder), then start it, open settings, close settings without changing anything and restart. Then everytime I open the settings, I get an internal error.

The error seems to be coming from t

[2020-05-11 14:15] skjerns commented on #49
Issue does not appear anymore after installing dev-version. Can be closed!

[2020-05-11 14:18] goanpeca commented on #49
Will keep around while we push another release. Thanks for the feedback!

[2020-05-12 11:03] jitseniesen commented on #49
Actually, the dev version is the same as the last release (version 0.2.1), so just updating should do the trick. I don't think there is anything more to do so I am closing.

[2020-05-12 11:03] #49 closed

[2020-10-21 08:21] skjerns opened #50 "Adapt colors to dark mode"
I'm probably the only one still using this plugin, but I saw that the colors do not accurately translate to the Spyder dark mode. Maybe this can be fixed? Or is it something in Qt?

[2021-02-06 01:00] ccordoba12 commented on #50
Hey @skjerns, we're planning to improve a complete color palette for the dark and light modes in Spyder 5, so you'll be able to pick a nice color from it to use it here.

[2021-04-14 13:41] Nodd opened #51 "Standalone fork ?"
Hello !
FYI I talked about spyder-line-profiler in https://github.com/pyutils/line_profiler/issues/55, but I didn't touch this addon since 2016 so I actually don't know in what state it is. It looks like it's maintained (last commit is from april 2020 and it's not like it needs frequent changes) but it doesn't run standalone anymore ?
If I find the time I'll try to play a bit with it, like in the

[2021-04-14 21:16] ccordoba12 commented on #51
Hey @Nodd!! Nice to hear from you again!

This plugin should be working just fine with Spyder 4, but not with 5.

[2021-04-30 09:05] vastunghia opened #52 "Spyder 5 compatibility"
Running `conda install spyder-line-profiler=0.2.1 -c spyder-ide` with Spyder 5.0.0 installed returns

[code]
Is spyder-line-profiler compatible with Spyder 5?

[2021-05-09 14:49] ldorigo commented on #52
+1, would be great to have spyder 5 support.

[2021-07-22 15:07] PasaOpasen commented on #52
succesfully run
[code]
for spyder 5.0.2, but there is no "Profile by line" in Run window

[2021-08-30 10:20] skjerns commented on #52
+1 for spyder 5 support! would be great!

I'd have a look at it.

However, it is expected that this works with both Spyder 4x and 5x? I think compatibility will be difficult. Or should we create an entirely new repo for 5x version?

[2021-08-31 14:55] skjerns commented on #52
I've created a PR #53 that will enable support for Spyder 5 :) let me know if it works well for you!

[2021-12-01 09:25] skjerns opened #54 "How to proceed with spyder 5 compatibility"
I already created a PR for compatibility with Spyder 5 #53 , however there were more changes to the plugin system so the fix does not seem to work well, and additionally I'm not quite satisfied with the current solution.

How should we proceed with making `spyder-line-profiler` compatible with Spyder 5? I'm using this tool quite frequently and currently need to maintain a Spyder 4 installation in

[2021-12-17 17:27] dalthviz commented on #54
Hi @skjerns thank you so much for offering your help with this! From my side maybe makes sense to release a major version adding the support for Spyder 5 instead of a minor with a compatibility layer between 4 a 5 but just in case pinging @spyder-ide/core-developers for ideas.

Also, as a guide, I think checking the changes done to support [spyder-ide/spyder-terminals]( https://github.com/spyder-i

[2022-01-08 13:28] jitseniesen commented on #54
I am nominally the maintainer of the plugin. I have been busy in the last year or so but I think I can carve out some time now for this. My first though, like dalthviz, is that we should aim to release a new version of the plugin which only supports Spyder 5.

It is true that pip often leads to version incompatibilities, but I am not sure whether we should accept the code duplication in PR #53 in

[2022-01-10 09:03] skjerns commented on #54
Thanks for the feedback!

I agree with having a Spyder5-only version. I can adapt my PR to that, or respectively make a new PR with the given change. However, same as you, I'm lacking time for that at the moment as well. The changes I made were motivated by me needing a spyder5 version, which now exists well enough for me. So feel free to start with something, as I don't know either when and if I

[2022-01-12 05:09] CAM-Gerlach commented on #54
To note, pip now has a dependency resolver, greatly improved as of 2020, much like conda. It still doesn't interact perfectly with conda envs or handle binary deps like conda, but the situation on that front is waaaay better than it used to be, at least with modern pip, as far as I can tell. Just supporting Spyder 5 does seem to make the most sense at this point.

[2022-01-17 17:44] AlastairKelly opened #55 "Edit documentation to alert users to Spyder 5 incompatibility"
Hey, after messing around for while with the line profiler install, trying to figure out what I was doing wrong, I ended up here and can see there are a couple open issues on the lack of compatibility with Spyder 5.
Right now, this plug-in still shows up in association with the Spyder 5 documentation, as shown below. It think it would be helpful if it included a warning box about the compatibility

[2022-01-18 11:35] jitseniesen commented on #55
Hi, I am sorry about the time that you wasted. I will move your issue to the documentation repository. To be honest, I thought that documentation page that you showed has been removed (in PR spyder-ide/spyder-docs#283), but actually it was only removed from the left side bar.

I will let the documentation team decide how to handle this. I expect that a new version of the line-profiler plugin will

[2022-01-18 11:35] #55 closed

[2022-01-18 11:35] jitseniesen commented on #55
Issue moved to [spyder-ide/spyder-docs #304](https://github.com/spyder-ide/spyder-docs/issues/304) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-06 12:16] Nodd commented on #51
FYI, I started working on a standalone Qt interface : https://github.com/Nodd/lineprofilergui.

[2022-02-06 12:16] #51 closed

[2022-02-26 19:54] PasaOpasen opened #57 "There is no "Profile by line" button on version 5"
I successfully installed spyder-line-profiler via Anaconda, but there is no "Profile by line" button in Run part

[code]

I tried to use this plugin in Windows10 too, but it never worked with Spyder 5

[2022-02-28 15:19] dalthviz commented on #57
Hi @PasaOpasen thank you for the feedback. I'm closing this as a duplicate of #52 which should be fixed once we merge #56 and available with a new release (most probably 0.3.0).

To use this plugin for the moment you will need to either use Spyder 4.2.5 or give #56 a try locally by, for example, installing the plugin via pip from the contributor fork and branch (if you want to do this I would sugg

[2022-02-28 15:19] #57 closed

[2022-05-17 18:10] #54 closed

[2022-05-17 18:10] #27 closed

[2022-05-17 18:10] #48 closed

[2022-05-17 18:10] #52 closed

[2022-05-17 18:24] dalthviz opened #59 "Release spyder-line-profiler 0.3.0"
An issue to track missing things to do before releasing 0.3.0 and also in case anyone has comments/questions regarding the release:

* [x] Update `README.md`
   * Should the installation commands be changed to use the conda-forge channel?
   * Update screenshot
* [x] Add a `RELEASE.md`
* [x] Update `CONTRIBUTING.rst` to `CONTRIBUTING.md` and add basic content to it
* [x] Missing default config for

[2022-05-17 18:29] ccordoba12 commented on #59
Yes, I think so.

[2022-05-18 16:21] dalthviz commented on #25
Checking, seems like this is not an issue anymore I was not able to reproduce it:

![lineprof](https://user-images.githubusercontent.com/16781833/169092516-b20294a5-f12c-453a-82ec-66806f063dba.gif)

So should we close this one as fixed by #56 too @ccordoba12 @jitseniesen ?

[2022-05-18 16:53] ccordoba12 commented on #25
I think so. So many things have happened in our code base since this issue was reported, that I'm not surprised this is no longer a problem.

[2022-05-18 16:58] #25 closed

[2022-05-18 17:20] ccordoba12 commented on #59
@dalthviz, I suggest to change the icon used by this plugin to be `mdi-speedometer`. That way we'll use here an icon that matches the others used in Spyder.

[2022-05-18 17:46] dalthviz commented on #59
For that we will need to add the icon over Spyder on the `icon_manager.py`, right?

[2022-05-18 17:47] ccordoba12 commented on #59
No, you can use the QtAwesome API directly.

[2022-05-24 14:38] dalthviz commented on #59
So seems like a release could be possible now! How wants to do the release @ccordoba12 @jitseniesen ?

[2022-05-24 15:25] ccordoba12 commented on #59
@dalthviz, I'd like you to do it because I don't have much free time these days. But I can't add more people to this project on PyPI (prbably @jitseniesen is the owner). So, I'll do it during the weekend unless someone else beats me to it.

[2022-06-03 20:24] jitseniesen commented on #59
I will take care of the release today and tomorrow and add @dalthviz as a maintainer.

[2022-06-03 20:29] dalthviz commented on #59
Thanks @jitseniesen !

[2022-06-05 15:36] jitseniesen commented on #59
Closing because the release is out.

[2022-06-05 15:36] #59 closed

[2022-06-05 17:00] ccordoba12 commented on #59
Thanks @skjerns, @dalthviz and @jitseniesen for your help to update this plugin!

[2022-06-16 13:10] KevinNadar opened #63 "spyder-line-profiler not completely installed"
After installing `spyder-line-profiler` from _conda_, it is asking me to install the `line_profiler` (via **pip** because it is not available via _conda_). [image](https://user-images.githubusercontent.com/67683564/174073021-c629dadd-3d31-4a5d-bf57-3dabe03eb2b3.png)

But ~shouldn't~ I mix **pip** and _conda_?

Anyways the github page for it says that it's current version(_`v2.1.2`_) is broken for

[2022-06-16 15:34] dalthviz commented on #63
Hi @KevinNadar thank you for the feedback! Could you try to manually install `line_profiler` from conda-forge using `conda install -c conda-forge line_profiler`? As you say you shouldn't mix pip and conda normally

Checking locally when installing `spyder-line-profiler` with conda (conda-forge) I'm also being prompt to install `line_profiler` (I'm checking this with Windows and Python 3.7 though)

[2022-06-16 16:41] ccordoba12 commented on #63
@dalthviz, what does this mean? Are we not validating correctly that `line_profiler` is installed?

[2022-06-16 16:47] KevinNadar commented on #63
I realized I had tried earlier to install `line-profiler` _instead_ of `line_profiler` via **conda**
The package is named as `line-profiler` in **pip** and `line_profiler` in **conda**

I was able to install the package👇🏾...
![Screenshot_~ : fish_12](https://user-images.githubusercontent.com/67683564/174115029-2b022513-5196-4217-b31f-e4188227379f.png)
I entered `y` and then the transaction was suc

[2022-06-16 17:04] dalthviz commented on #63
In my case, as seen in the Anaconda prompt screenshot, when installing `spyder-line-profiler` I got installed `line_profiler` too (maybe the `I'm also being prompt to install  ...` phrasing was confusing since could imply that I reproduced this but to be clear I was unable to reproduce this).

Maybe is something related with the `line_profiler` package on Linux? Checking the conda recipe the requi

[2022-06-16 18:32] KevinNadar commented on #63
It worked!!

Thanks 👍🏾

[2022-06-17 09:52] KevinNadar commented on #63
Uhmm...
It worked fine **yesterday** when I tested it...
But today when I reopened Spyder...It is back to square one...

![Screenshot_20210331](https://user-images.githubusercontent.com/67683564/174271128-1eb25de0-27c8-44db-807a-5ff5f3716239.png)
I opened up the **Internal Console** _pane_ to check for errors, but it showing some errors related to `spyder-terminal` instead...

_PS: I am doing all

[2022-06-17 15:41] dalthviz commented on #63
Quite strange @KevinNadar , regarding the messages you got from `spyder-terminal` they are not harmful (they appear when starting the spyder terminal plugin and I think there is an issue already regarding that at https://github.com/spyder-ide/spyder-terminal/issues/327). Regarding the `line_profiler` installation, are you able to import `line_profiler` from the Internal Console? Maybe for some rea

[2022-06-17 18:19] KevinNadar commented on #63
I ran the command `import line_profiler` in the **internal console** but nothing happened...
I tried closing and re-opening the plugin pane but it's still the same...

[2022-06-17 19:01] dalthviz commented on #63
Just in case that's the function that does the validation that seems like is failling for you (even when you have `line_profiler` installed) is at:

https://github.com/spyder-ide/spyder-line-profiler/blob/cb4e4ef40b5b49d07f4974c1f8a7366d75fbe0a3/spyder_line_profiler/spyder/widgets.py#L60-L65

Could you run from the internal console the following:

[code]

Maybe with that we can get what is the mis

[2022-06-18 05:40] KevinNadar commented on #63
![Screenshot_Internal console](https://user-images.githubusercontent.com/67683564/174424506-38275138-0898-4d5e-be74-57301ecb189b.png)

[2022-06-19 17:05] KevinNadar commented on #63
I have submitted the output, now what to do?

[2022-06-20 14:49] dalthviz commented on #63
Thanks @KevinNadar for the new info. Seems then like the problem comes from `kernprof` not being available/detected. I think this could be either an issue with the conda-forge `line_profiler` on Linux or the way we are detecting programs on Spyder. Just to be sure, if you run from the internal console `kernprof` the command exists? What happens if you try to run it from a terminal with the env you

[2022-06-20 17:28] KevinNadar commented on #63
The command `kernprof` resulted in _module not found_ **error**... but when I import it by `import kernprof`, it was imported...

When I ran `kernprof` from the command line after activating the appropriate environment, it runs...

![Screenshot_20210353](https://user-images.githubusercontent.com/67683564/174652832-a0866dfc-9100-4770-b7d7-6987753e3808.png)

[2022-06-20 19:30] dalthviz commented on #63
🤔 thanks for the new info @KevinNadar

@ccordoba12 could something be happening with the Spyder running env activation to not be able to detected entrypoints from packages on Linux?

[2022-08-03 02:37] Li-xy-lucky opened #64 "unusable on spyder 5.1"
I have alreadey install the line profiler, and my python is 3.9 and spyder is 5.1. The information in console tell me that the profiler has been installed. But I couldn't  find the Run line profiler under Run, and the decorator @profile is not readable.  I think maybe this plugin is not compatible with Spyder 5. But I really really want to use it. Could you please update it?

[2022-08-03 15:24] dalthviz commented on #64
Hi @Li-xy-lucky you need to use [`spyder >= 5.2`](https://github.com/spyder-ide/spyder-line-profiler/blob/cb4e4ef40b5b49d07f4974c1f8a7366d75fbe0a3/setup.py#L41) to install the plugin version compatible with Spyder 5 (`spyder-line-profiler 0.3.0`). Could you please update Spyder to be >=5.2.0 <=5.3.1 and try again?

Let us know if that helps!

Edit: Specify Spyder version to update since seems like

[2022-08-04 08:40] rhkarls opened #65 "Plugin not working with Spyder 5.3.2"
After updating to 5.3.2 (from `conda_forge`) the plugin is not discovered correctly

    fromIccProfile: failed minimal tag size sanity
    spyder_line_profiler: cannot import name 'add_pathlist_to_PYTHONPATH' from 'spyder.utils.misc' (C:\Users\rhkarls\Miniconda3\envs\spyder_install\lib\site-packages\spyder\utils\misc.py)
    Traceback (most recent call last):
      File "C:\Users\rhkarls\Minicond

[2022-08-04 09:43] jitseniesen commented on #65
Yes, you are right. The plugin works with Spyder 5.3.1, if you need a workaround.

The function `add_pathlist_to_PYTHONPATH` was removed in spyder-ide/spyder@9400b04aedf3e4d8618c4db36e2c976434a78363 in PR spyder-ide/spyder#17512. It looks like an easy fix.

[2022-08-04 13:40] ccordoba12 commented on #65
Sorry for the inconvenience @jitseniesen. I hope this will be easy to solve.

[2022-08-04 13:41] ccordoba12 commented on #65
Sorry for the inconvenience @jitseniesen. I hope this is easy to solve.

[2022-08-07 11:42] jitseniesen commented on #65
No problem, it's just a one-line change. I should just remember to do a quick test of my plugins when a new Spyder version is about to come out.

[2022-08-07 13:09] #65 closed

[2022-08-09 12:01] rhkarls opened #67 "Use selected python interpreter/environment instead of default (same as Spyder) when profiling"
When running the plugin and having a different environment than Spyder's active it will not actually use that environment in the profiling. This will often lead to import errors or using different versions of installed packages.

I suppose this issue is related to what is mentioned here: https://github.com/spyder-ide/spyder-unittest/issues/177

Apologies if this is a duplicate of #5

[2022-08-09 12:38] jitseniesen commented on #67
I think it is the same issue as #5 but your description is clearer and there is not much of relevant there so I will close that issue.

The closest equivalent issue for the unittest plugin is spyder-ide/spyder-unittest#65. But I think it may be easier to compare with the profiler in Spyder proper, where I think this was fixed in commit spyder-ide/spyder@bdea2c0c688173c61e44ece92f0519bd188290a1. Th

[2022-08-09 12:39] jitseniesen commented on #5
I am closing this as a duplicate in favour of #67 because I think the issue is better described there.

[2022-08-09 12:39] #5 closed

[2022-08-09 15:13] ccordoba12 commented on #67
Yep, the idea is to use the `executable` option of the Main interpreter plugin to get the current Python interpreter set by users in Preferences.